* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font styles for Abhaya Libre 
.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}
*/

body {
    font-family: Abhaya Libre, serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.4;
}

/*Sidhuvud*/

.header-wrapper {}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
}

.logo h1 {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'ADLaM Display', sans-serif;
}

.logo img {
    max-width: 50px;
    padding: 5px;
}

/*Meny*/

header a {
    display: block;
    padding: 8px 50px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header a:hover, header a:focus   {
    color: #fff;
    background-color: #94A677;
    border: 1px solid #94A677;
    font-weight: bold;
    outline: none;
}

/*Meny för stor skärm*/

@media (min-width: 750px) {
    .header-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        border: none;
    }

    ul {
        list-style-type: none;
        display: flex;
    }

    header a {
        border: none;
        padding: 15px 15px;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }

    header a:hover, header a:focus {
        color: #fff;
        background-color: #94A677;
        border: none;
    }
}

/*Bilder, rubriker, paragrafer*/

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    font-weight: 800;
    padding: 15px 0;
}

p {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 10px;
}


/*Sektion 1: Hero*/

.hero {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    position: relative;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

/*Sektion 1: Hero - för stor skärm*/

@media (min-width:750px) {
    .hero img {
        max-height: 400px;
        object-fit: cover;
    }

    .hero {
        padding: 0;
        border: none;
    }
    
    #hero-text {
        position: absolute;
        top: 20%;
        left: 5%;
        color: #fff;
        align-items: flex-start;
        max-width: 17rem;
    }

    #hero-text h2 {
        text-align: left;
        max-width: 10rem;
    }

    #hero-text p {
        padding: 0;
        text-align: left;
    }
}

/*Sektion 2: Naturen*/
.nature {
    padding-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/*Sektion 3: Upplev*/

.exp {
    background-color: #E5EFD5;
    padding: 20px;
}

#card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.cards {
    background-color: #fff;
    border: 1px solid #ccc;
}

.cards h3 {
    font-weight: 800;
    padding: 15px 20px 0;
}

.cards p {
    text-align: left;
    padding: 0 20px 15px;
}

/*Sektion 3: Upplev - för stor skärm*/

@media (min-width:750px) {
    #card-container {
        flex-direction: row;
        justify-content: center;
    }

    .cards {
        max-width: 300px;
        flex: 1;
    }
}

/*Sektion 4: Planera*/

.plan {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    gap: 20px;
}

/*Sektion 4: Planera - för stor skärm*/

@media (min-width: 750px) {
    .plan {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .plan p {
        text-align: left;
        padding: 0;
    }

    .plan h2 {
        text-align: left;
    }

    #plan-text {
        max-width: 500px;
        flex: 2;
    }

    #plan-btn {
        flex: 1;
        text-align: right;
    }

    .btn {
        
    }
}

/*Knappar*/

.btn {
    font-family: 'ADLaM Display', sans-serif;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #94A677;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;;
}

.btn:hover, .btn:focus {
    background-color: #E5EFD5;
    color: #333;
    /*outline: none;*/
}

/*Sidfot*/

footer {
    background-color: #E5EFD5;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.first-footer img {
    max-width: 60px;
    max-height: 60px;
    padding: 5px;
}

.first-footer h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'ADLaM Display', sans-serif;
}

.second-footer h4 {
    font-size: 0.9em;
    font-weight: 1000;
    font-family: 'ADLaM Display', sans-serif;
    margin: 10px 0 5px 20px;
    text-align: left;
}

.second-footer p {
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.links a:hover, .links a:focus {
    color: #94A677;
}

.second-footer {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

/*Sidfot - för stor skärm*/

@media (min-width: 700px) {
    footer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
    }

    .first-footer {
        display: flex;
    }

    footer h3 {
        padding-top: 15px;
        margin-left: 20px;
        text-align: left;
    }

    footer p {
        text-align: left;
    }
}

/* Header styles desktop 
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

ul a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

ul a:hover {
    color: #fff;
    background-color: #333;
}*/